---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import HorizontalCardNoLink from "../components/HorizontalCardNoLink.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Nadège Polette</div>
    <div class="text-3xl py-3 font-bold">PhD student at CEA and Mines Paris PSL</div>
    <div class="py-2">
      <text class="text-lg">
        I am a PhD student at <a style="font-weight:bold" href="https://www.cea.fr/">CEA</a> and <a style="font-weight:bold" href="https://www.fbleau.minesparis.psl.eu/Accueil/">Mines Paris PSL</a> supervised by <a style="font-weight:bold" href="https://geophy.geosciences.mines-paristech.fr/people/%7Ealexandrine/resume"> Dr. Alexandrine Gesret </a> at  Geosciences center, Mines Paris PSL, Fontainebleau, <a style="font-weight:bold" href="http://sochalapierre.free.fr/"> Dr. Pierre Sochala</a> at CEA, <a style="font-weight:bold" href="http://olemaitre.perso.math.cnrs.fr/"> Dr. Olivier Le Maître</a> at CNRS, <a style="font-weight:bold" href="https://portail.polytechnique.edu/cmap/en">CMAP</a>, Polytechnique, IPP, Palaiseau. <br>
    Relevant topics include:
    <ul>
  <li> Bayesian inference </li>
  <li> Surrogate models </li>
  <li> Inverse problems </li>
  <li> Geophysical applications </li>
  </ul>
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Upcoming events</div>
  </div>
   <div class="py-2">
   <text class="text-lg">
   <ul>
  <li> <a style=font-weight:bold href="https://samo2025.sciencesconf.org/"> SAMO2025</a>, 22-25 April '25 (Grenoble, France) </li>
  <li> <a style=font-weight:bold href="https://2025.uncecomp.org/">UNCECOMP2025</a>, 15-18 June '25 (Rhodes, Greece) </li>
  </ul>
  </text>
</div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Last news</div>
   </div>
      <HorizontalCard
    title="Promoting science and engineering  - Saintes (France)"
    img="/agrippa_2025.jpg"
    desc="21-24 Jan. - I presented engineering and scientific careers to the students of my former high school."
    url={"/talks/agrippa-palissy"}
    target="_self"
    badge=""
  />
  
   <HorizontalCard
    title="Updated version of our preprint"
    img="/field-2d.png"
    desc="5 Jan. - A new version of our preprint is available on HAL and ArXiv ! 'Change of Measure for Bayesian Field Inversion with Hierarchical Hyperparameters Sampling' is now applied to a two-dimensional groundwater flow problem."
    url={"/publications/change-of-measure-v2"}
    target="_self"
    badge=""
  />
   <HorizontalCardNoLink
    title="UQSAY - online"
    img="/uqsay77_poster.png"
    desc='31 Oct. - I presented my work at the <a style="font-weight:bold" href="www.uqsay.org"> UQSAY </a> online seminar. </br>Slides available <a style="font-weight:bold" href="/slides/UQSAY.pdf">[here]</a>.'
    target="_self"
    badge=""
  /> 
  <HorizontalCardNoLink
    title="ETICS2024 - Sayssac (France)"
    img="/rt-uq.svg"
    desc='27 Sep. - I presented some methods for adaptive surrogate in Bayesian inference.</br>Slides available <a style="font-weight:bold" href="/slides/ETICS2024.pdf">[here]</a>.'
    avail = "Slides available"
    url_avail = "/slides/ETICS2024.pdf"
    target="_self"
    badge=""
  />
<HorizontalCard
    title="ISBA2024 - Venice (Italy)"
    img="/illus_poster.png"
    desc="1 Jul. - I presented a poster at ISBA2024 World Meeting"
    url={"/conferences/isba2024"}
    target="_self"
    badge=""
  />
  <HorizontalCard
    title="New preprint !"
    img="/field.png"
    desc="30 Apr. - Happy to share with you that our last preprint about 'Change of Measure for Bayesian Field Inversion with Hierarchical Hyperparameters Sampling' is available on HAL, ArXiv, and SSRN !"
    url={"/publications/change-of-measure"}
    target="_self"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="GRNE PhD student's day - Paris (France)"
    img="/GRNE-JDD.jpeg"
    desc="5 Apr. - I am proud to share that my talk was awarded as the best 2nd year PhD student talk. It was a pleasure to be able to break down the mathematical barrier to make my subject engaging and understandable for a wider audience."
    url={"/talks/talk-new"}
  />
  
</BaseLayout>
