---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Talks" sideBarActiveItemID="talks">
 
  <div class="mb-5" align="left">
    <div class="text-3xl w-full font-bold" align="left">Talks</div>
  </div>

<div class="time-line-container grid gap-4 mb-10" align="left">
    <TimeLineElement
      title="Oct. 2024 - Seminary UQSAY#77 (online)"
    >
    <div > Invited  <a target="_blank" style="font-weight:bold" href="slides/UQSAY2024.pdf">[slides]</a>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="Oct. 2024 - Summer school ETICS2024 (Sayssac, France)"
    >
    <div > PhD Talk <a target="_blank" style="font-weight:bold" href="slides/ETICS2024.pdf">[slides]</a>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="May 2024 - Seminary at Mines Paris PSL (Fontainebleau, France)"
    >
    <div >Presentation of my work <a target="_blank" style="font-weight:bold" href="slides/Mines2024.pdf">[slides]</a>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="May 2024 - Lecture group talk at Mines Paris PSL (Fontainebleau, France)"
    >
    <div >Sampling methods for Bayesian inference <a target="_blank" style="font-weight:bold" href="slides/Lecture2024.pdf">[slides]</a>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="Apr. 2024 - PhD student's day of my doctoral school (Paris, France)"
    >
    <div >Talk for a wide audience, best presentation award <a target="_blank" style="font-weight:bold" href="slides/GRNE2024.pdf">[slides]</a>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="Oct. 2023 - Summer school ETICS2023 (Bordeaux, France)"
    >
    <div >PhD Talk <a target="_blank" style="font-weight:bold" href="slides/ETICS2023.pdf">[slides]</a>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="Jun. 2023 - International conference MCM2023 (Paris, France)"
    >
    <div>First international conference <a target="_blank" style="font-weight:bold" href="slides/MCM2023.pdf">[slides]</a>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="Nov. 2022 - Seminary at BRGM (Orléans, France)"
    >
    <div>Weekly seminar of the geophysicist team <a target="_blank" style="font-weight:bold" href="slides/BRGM2022.pdf">[slides]</a>
    </div>
    </TimeLineElement>
    
     <div class="text-3xl w-full font-bold">Posters</div>
    <TimeLineElement
      title="Jul. 2024 - International conference ISBA2024 (Venice, Italy)"
    >
    <div>Poster available <a target="_blank" style="font-weight:bold" href="poster/ISBA2024.pdf"> [here]</a>
    </div>
    </TimeLineElement>
    <TimeLineElement
      title="Apr. 2023 - Workshop MASCOTNUM2023 (Le Croisic, France)"
    >
    <div>Poster available <a target="_blank" style="font-weight:bold" href="poster/MASCOTNUM2023.pdf">[here]</a>
    </div>
    </TimeLineElement>
    
</div>
   

</BaseLayout>
